# {{ ansible_managed }}

*filter
:INPUT ACCEPT [1044:229177]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [970:266658]
:nodervisor - [0:0]
-A INPUT -p tcp -m tcp --dport {{ supervisor_port }} -j nodervisor
-A nodervisor -s {{ web_ui_host }}/32 -j ACCEPT
-A nodervisor -j DROP
COMMIT
